body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-size: 4.5vw;
    margin-top: 5%;
    font-weight: bold;
    color: #101010;
}

a {
    text-decoration: none;
}

.button-container {
    display: flex;
    height: 30vw;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4%;
}

.button {
    display: flex;
    width: 20vw;
    height: 8vw;
    justify-content: center;
    align-items: center;
    padding: 1.75% 2%;
    margin: 2vw 4vw auto;
    background: #141619;
    color: whitesmoke;
    font-size: 2vw;
    border: 0.3vw solid transparent;
    border-radius: 1vw 4vw;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.button:hover {
    border: 0.3vw solid #ec6126;
    background-color: #141619f5;
}

footer {
    position: absolute;
    bottom: 0;
    width: 80%;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socio-link {
    margin: 0 5px;
    right: 0;
    bottom: 3px;
    transition: all 0.1s ease-in-out;
}

.socio-link a {
    margin-left: 5px;
}

.socio-link:hover {
    scale: 1.1;
}

@media screen and (max-width: 767px) {
    body {
        background-size: auto;
        width: 80%;
    }

    h1 {
        font-size: 10vw;
        margin-top: 10%;
        font-weight: bold;
        color: #101010;
    }

    .button-container {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .button {
        width: 40vw;
        height: 13vw;
        margin: 13% auto;
        font-size: 3.8vw;
    }
}