body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("bg.jpg");
    background-size: cover;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 300%;
    margin-bottom: 20px;
}

.arrival-burst-banner {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 10px;
}

.banner-box {
    width: 80%;
    padding: 10px;
    margin: 10px 30px;
    border: 2px solid #141619;
    border-radius: 5px;
    background-color: transparent;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.algorithm-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}

.algorithm {
    text-align: center;
}

.result-box {
    width: 80%;
    padding: 10px;
    margin: 30px 0;
    border: 2px solid #141619;
    border-radius: 5px;
    background-color: transparent;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 2px solid #141619;
    border-radius: 5px;
    background-color: transparent;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Ubuntu' sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #141619;
    color: whitesmoke;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

button:hover {
    border-color: #ED7847;
    border-width: 2px;
}

.algorithm button {
    padding: 10px 20px;
    background-color: #141619;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.algorithm button:hover {
    background-color: #555;
}

.back_to_main {
    margin-top: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 95%;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socio-link {
    margin: 0 5px;
    right: 0;
    bottom: 3px;
    transition: all 0.1s ease-in-out;
}

.socio-link a {
    margin-left: 5px;
}

.socio-link:hover {
    scale: 1.1;
}