<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ScheduLumos</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav.png' ) }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' ) }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap">
</head>

<body>
<h1>ScheduLumos</h1>

<div class="button-container">
    <a href="{{ url_for('fcfs') }}" class="button">FCFS</a>
    <a href="{{ url_for('sjf_non_preemptive') }}" class="button">SJF Non-Preemptive</a>
    <a href="{{ url_for('sjf_preemptive') }}" class="button">SJF Preemptive</a>
    <a href="{{ url_for('priority_scheduling') }}" class="button">Priority Scheduling</a>
    <a href="{{ url_for('round_robin') }}" class="button">Round Robin</a>
</div>

<footer>
    &copy; KAUS4R&nbsp; &nbsp;| &nbsp;
    <a href="https://github.com/kausaraahmed/ScheduLumos" class="socio-link" target="_blank">
        <img src="{{ url_for('static', filename='github.png') }} " width="20px"></a>
    &nbsp;
    <a href="https://www.linkedin.com/in/kausaraahmed/" class="socio-link" target="_blank">
        <img src="{{ url_for('static', filename='linkedin.png') }} " width="20px"></a>
</footer>

</body>

</html>