<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SJF - Preemptive Algorithm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav.png' ) }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='algorithm_page_style.css') }}">
</head>

<body>

    <h1>SJF Preemptive Algorithm</h1>

    <div class="input-container">
        <label for="arrival-time">Arrival Time (space-separated): </label>
        <input type="text" id="arrival-time" name="arrival-time" placeholder="Enter arrival time">
        <label for="burst-time">Burst Time (space-separated): </label>
        <input type="text" id="burst-time" name="burst-time" placeholder="Enter burst time">
    </div>

    <button id="run-algo">Run Algorithm</button>

    <div id="result-container" style="position: relative">
        <a id="download-link" href="#" style="display: none; position: absolute; top: 10px; right: 10px;">
            <img src="{{ url_for('static', filename='file.png') }}" alt="Download Result"
                style="width: 30px; height: 30px; cursor: pointer;">
        </a>
        <a href="{{ url_for('compare')}}" class="send-compare" id="send_compare"
            style="display: none; position: absolute; bottom: 10px; right: 10px;"><button>Compare Results</button>
        </a>
        <div id="result"></div>
    </div>

    <br>

    <a href="{{ url_for('index') }}" class="back_to_main"><button>Main Menu</button></a>

    <script src="{{ url_for('static', filename='sjf_preemptive.js') }}"></script>

    <footer>&copy; KAUS4R</footer>
</body>

</html>