<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SJF - Non Preemptive Algorithm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/fav.png' ) }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/algorithm_page_style.css') }}">
</head>

<body>

<h1>SJF - Non Preemptive Algorithm</h1>

<div class="input-container">
    <label for="arrival-time">Arrival Times (space-separated):</label>
    <input type="text" id="arrival-time" name="arrival-time" placeholder="Enter arrival times">
    <label for="burst-time">Burst Times (space-separated):</label>
    <input type="text" id="burst-time" name="burst-time" placeholder="Enter burst times">
</div>

<button id="run-algo">Run Algorithm</button>

<div id="result-container" style="position: relative">
    <a id="download-link" href="#" style="display: none; position: absolute; top: 10px; right: 10px;">
        <img src="{{ url_for('static', filename='images/file.png') }}" alt="Download Result"
             style="width: 30px; height: 30px; cursor: pointer;">
    </a>
    <a href="{{ url_for('compare') }}" class="send-compare" id="send_compare"
       style="display: none; position: absolute; bottom: 10px; right: 10px;">
        <button>Compare Results</button>
    </a>
    <div id="result"></div>
</div>

<br>

<a href="{{ url_for('index') }}" class="back_to_main">
    <button>Main Menu</button>
</a>

<script src="{{ url_for('static', filename='js/sjf_non_preemptive.js') }}"></script>

<footer>
    &copy; KAUS4R&nbsp; &nbsp;| &nbsp;
    <a href="https://github.com/kausaraahmed/ScheduLumos" class="socio-link" target="_blank">
        <img src="{{ url_for('static', filename='images/github.png') }} " width="17px" alt="GitHub"></a>
    &nbsp;
    <a href="https://www.linkedin.com/in/kausaraahmed/" class="socio-link" target="_blank">
        <img src="{{ url_for('static', filename='images/linkedin.png') }} " width="17px" alt="LinkedIn"></a>
</footer>

</body>

</html>